.DS_Store
nvim/lazy-lock.json
config/zsh/.zshenv
.bin/fortunef.sh
config/zsh/api/*

*.log

config/zsh/common/git.zsh

# vifm
config/vifm/vifm-help.txt
config/vifm/vifminfo.json
config/vifm/colors/Default.vifm
