[user]
	name = FtherB
	email = aliclahso29103@gmail.com

[includeIf "gitdir:~/prog/anc"]
    path = ~/dotfiles/config/git/.gitconfig_s255
[core]
	excludesfile = /Users/ftherb/dotfiles/config/git/.gitignore_global
